# Ignorer l'environnement virtuel
venv/
ENV/
env/
.venv/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp
*.swp
*.swo

# Fichiers Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db
